body{
	background-color:#f2e3e3;
}  
*{  
	box-sizing: border-box;
}
.content{
	padding: 10px;

}
.chicken{
	position:relative;
}
	
#chictop{
	background-color: #ea8888;
	border-left: 3px solid black;
	border-bottom: 3px solid black;
	position: absolute;
	top: 0px;
	right:0px;
	margin: 0px 0px;
	width:100px;
}
#betop{

	background-color: #e73030;
	align-content:center;
	border-left: 3px solid black;
	border-bottom: 3px solid black;
	position: absolute;
	top: 0px;
	right:0px;
	margin: 0px 0px;
	width:100px;
}
#sustop{

	background-color: #eeb165;
	border-left: 3px solid black;
	border-bottom: 3px solid black;
	width:100px;
	position: absolute;
	top: 0px;
	right:0px;
	margin: 0px 0px;
	
	
}
.chicken {
  background-color: eeb165;
  padding: 10px;
  border: 3px solid black;
  width: 30%;
  height: 80%;
  overflow: auto;
  
}

.sushi{
  position:relative;
  background-color:#D3D3D3;
  padding: 10px;
  border: 3px solid black;
  width: 30%;
  height: 80%;
  margin-top: 50px;
  overflow: auto;
}

.beef {
  position:relative;
  background-color: #D3D3D3;
  padding: 10px;
  border: 3px solid black;
  width: 30%;
  height: 80%;
  margin-top: 50px;
  overflow: auto;
}
  
